.bg-pokedex{
background-image: url('../img/made-this-pokeball-wallpaper-for-fun-2560-x-1440-will-take-v0-f2Dek-N2L1qqxugRbpozk_SapDPku3Aa8FLHu9c_VBA.webp');
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}

.card-hover{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover{
transform: translateY(-10px);
box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}